$light-blue: #357edd;
$orange: #ff6300;
$link-color: $light-blue;

a {
  text-decoration: none;
}

article a, .summary a {
  color: $link-color;
}

h1, h2, h3, h4, h5, h6 {
  & a {
    color: inherit;
  }
}

header a {
  color: inherit;
}

article {
  pre {
    overflow: auto;
  }
  code {
    background-color: #cccccc;
  }
  blockquote {
    border-left-style: solid;
    border-color: $orange;
    border-width: .25rem;
    font-family: athelas, georgia, serif;
    margin-left: 0;
    line-height: 1.5;
    color: rgba(0, 0, 0, .9);
    padding-left: 2rem;
    font-size: 1rem;
  }
}
