{% extends "index.html" %}

{% block title %}{{ config.title }} - {{ page.title }}{% endblock title %}

{% block extra_head %}
<meta name="description" content="{{ page.description }}" />
{% endblock extra_head %}

{% block content %}
<div class="flex justify-center">
  <article>
    <h1 class="orange lh-title">
      <a href="{{ page.permalink }}" class="link hover-black">
        {{ page.title }}
      </a>
    </h1>
    <div class="w-100 tr f6">
      <time><small>🖋️ {{ page.date | date(format="%d/%m/%Y") }}</small></time>
    </div>
    <div class="lh-copy measure-wide">
      {{ page.content | safe }}
    </div>
  </article>
</div>
{% endblock content %}
